[Desktop Entry]
Type=Application
Name=WysperClient
Exec=java -jar /usr/lib/wysper_client/wysper_client.jar  
Terminal=true
Icon=/usr/lib/wysper_client/icon.png
